body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: auto;
    height: auto; 
    padding-top: 5%;
    background-color: violet;
}

#navhead {
    min-width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
}

.nave {
    min-width: 15%;
    background-color: yellow;
    text-align: center;
    padding: 1.5%;
    width: fit-content;
}

#mainc {
    width: 100%;
    height: 60vh;
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
    gap: 7%;
}

#image {
    height: 100%;
    width: 50%;
}

img {
    width: 100%;
    height: 100%;
}

#sidec {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidec div {
    height: 40%;
    width: 100%;
    background-color: yellow;
}

p {
    font-size: large;
    text-align: center;
}    

#footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Ensures cards wrap onto new lines if necessary */
    width: 100%;
    padding: 10px;
}

.card {
    width: 200px;
    height: 100%;
    background-color: white;
    text-align: center;
    margin-bottom: 10px; /* Adds space between cards */
    box-sizing: border-box; /* Ensures padding and margin are included in width/height calculations */
}

.card img {
    padding: 2%;
    width: 15%;
    height: 15%;
}

@media screen and (max-width: 350px) {
    #navhead {
        flex-direction: column;
        gap: 7px;
        justify-content: center;
        align-items: center;
    }

    .nave {
        min-width: 100%;
    }

    #mainc {
        flex-direction: column;
    }

    #image {
        min-width: 100%;
    }

    #sidec {
        width: 100%;
    }

    p {
        height: 20%;
    }

    .card {
        width: auto;
        margin-bottom: 10px;
    }
}
